p {
      font-family: Arial;
    }
h1{
  color: maroon;
}
.title{
  color: teal;
}
.uppercase{
  text-transform: uppercase;
}
#article-title{
  font-family: cursive;
  text-transform: capitalize;
}
.publish-time{
  color: gray;
}

/* I just learned the difference between classes and IDs and when to use each */
